<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>ALL</servlet-name>
		<servlet-class>com.wendal.java.zipwebapp.ZipWebServlet</servlet-class>
		<init-param>
			<param-name>files</param-name>
			<param-value>nutz-1.a.27-rc.zip;nutz-1.a.27-rc2.zip</param-value>
		</init-param>
		<init-param>
			<param-name>indexs</param-name>
			<param-value>main.html;coverage.html;index.html</param-value>
		</init-param>
		<init-param>
			<param-name>root</param-name>
			<param-value>/NutzStatic</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ALL</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>